font-family: 'Playfair Display', serif; 
font-family: 'Montserrat', sans-serif;


*{
    text-align: center;
}

body {
    background-color: #fff;
}

footer {
    background-color: #464544;
    color: #fff;
    display: flex;
    justify-content: space-around
}
